@import url("https://fonts.cdnfonts.com/css/lufga");

/* Container animations */
.uiux-container {
  padding: 2rem;
  font-family: "lufga", sans-serif;
  max-height: 100vh;
  width: 100%;
  margin: 0 100px;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Highlight animation */
.uiux-title-highlight {
  color: #923afd;
}

/* Project fade-in animation */
.uiux-project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeUp 0.8s ease-in-out forwards;
  animation-delay: calc(var(--delay, 0) * 0.2s);
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Icons animation */
.uiux-project-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}

.uiux-project-icons img:hover {
  transform: scale(1.2) rotate(1deg);
}

/* Link hover animation */
.uiux-project-link {
  text-decoration: none;
  margin-right: 2rem;
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 20px;
  background-color: #000;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.uiux-project-link:hover {
  transform: translateY(-5px);
}

.uiux-project-link-arrow {
  margin-left: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.uiux-project-link:hover .uiux-project-link-arrow {
  transform: translateX(5px);
}
