@font-face {
  font-family: 'against';
  src: url("../../public/fonts/against.woff2") format('woff2');
}

.generic-visual-container {
  position: relative;
  width: 100vw;
  max-height: 100vh;
  text-align: center;
  font-family: "against",cursive;
  margin: 0 0;
}

.generic-background-number {
  position: absolute;
  top: 48%;
  left: 32%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  opacity: 0.1;
  color: #000;
  z-index: 0;
}

.generic-main-text {
  position: relative;
  display: inline-block;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1;
  color: #000;
  z-index: 1;
  animation: fadeIn 1.5s ease-in-out;
}

.generic-subtitle {
  position: relative;
  font-family: "Courier New", monospace;
  font-size: 1rem;
  color: #444;
  z-index: 1;
  animation: slideUp 1.5s ease-in-out;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
