.hireme-container {
    border: 1px solid #923AFD;
    border-radius: 50px;
    padding: 0.3em;
    max-width: 250px;
}
.button-box {
  width: 240px;
  height: 60px;
  background: #fff;
  opacity: 0.9;
  border-radius: 30px;
  position: relative;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

#btn {
  width: 120px;
  height: 100%;
  background: #923AFD;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 8px rgba(255, 111, 97, 0.3);
  opacity: 0.5;
}

#btn.right {
  left: 120px;
}

.toggle-btn {
  width: 120px;
  height: 100%;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.toggle-btn:hover {
  color: #923AFD;
}
