html {
  scroll-behavior: smooth; /* Enables smooth scrolling for the entire page */
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  box-sizing: border-box;
  max-width: 100vw !important; /* Ensure the viewport doesn't extend horizontally */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
  width: 100%; /* Full width for the container */
}

@font-face {
  font-family: 'CustomFont';
  src: url("../public/fonts/against.ttf") format('truetype');
}

.font-container {
  font-family: 'CustomFont', 'Mea Culpa', cursive;
}
